<div id="tutorBySubjectModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Gia sư dạy {{tempTutor.name}}</h4>
      </div>

      <div class="modal-body">
        <a class="btn btn-success" ng-repeat="subject_id in tempTutor.subject_ids" ng-cloak>{{getSubjectById(subject_id).name}} </a>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>       
</div> 